.contacts {
  width: 70%;
  background-image: url(../img/backgrounds/contactsBackground.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 15%;
  scroll-margin-top: 80px;

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 38px;
    color: #1F2833;
    text-transform: uppercase;
    border-bottom: 1px solid #1F2833;

    @media (max-width: 1024px) {
      font-size: 32px;
    }

    @media (max-width: 768px) {
      align-self: center;
      margin-top: 20px;
    }
  }

  &__button {
    width: 300px;
    height: 60px;
    background-color: #1F2833;
    color: #ffffff;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;

    @media (max-width:1366px) {
      width: 260px;
      height: 50px;
      font-size: 18px;
    }

    @media (max-width: 1024px) {
      width: 100%;
    }

    @media (max-width: 768px) {
      margin-bottom: 15px;
    }
  }

  @media (max-width: 768px) {
    padding: 0 15%;
  }
}

.contacts-wrapper {
  width: 100%;
  display: flex;
  margin-top: 20px;

  @media (max-width: 1024px) {
    margin-top: 15px;
  }

  @media (max-width: 768px) {
    display: inline-block;
    margin-top: 0px;
  }
}

.contacts-info {
  width: 50%;

  @media (max-width: 768px) {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

.contacts-work {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #1F2833;

  &__subtitle {
    margin: 0;
    font-size: 30px;
    color: #1F2833;
    text-align: center;

    @media (max-width: 1024px) {
      font-size: 25px;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__text {
    font-size: 18px;
    color: #1F2833;
    text-align: center;
    margin-left: 50px;

    @media (max-width: 1024px) {
      font-size: 16px;
      margin-left: 10px;
    }

    @media (max-width: 768px) {
      margin-left: 0;
    }
  }

  @media (max-width: 768px) {
    display: inline-block;
  }
}

.contacts-email {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #1F2833;
  margin: 20px 0;

  &__subtitle {
    margin: 0;
    font-size: 30px;
    color: #1F2833;
    text-align: center;

    @media (max-width: 1024px) {
      font-size: 25px;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__text {
    font-size: 18px;
    color: #1F2833;
    text-align: center;
    margin-left: 50px;

    @media (max-width: 1024px) {
      font-size: 16px;
      margin-left: 10px;
    }

    @media (max-width: 768px) {
      margin-left: 0;
    }
  }

  @media (max-width: 1024px) {
    margin: 15px 0;
  }

  @media (max-width: 768px) {
    display: inline-block;
  }
}

.contacts-numbers {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: right;

  &__wrapper {
    margin-bottom: 20px;

    @media (max-width: 1024px) {
      margin-bottom: 15px;
    }
  }

  &__number {
    margin: 0;
    font-size: 35px;
    color: #1F2833;

    @media (max-width: 1024px) {
      font-size: 28px;
    }

    @media (max-width: 768px) {
      font-size: 28px;
      text-align: center;
    }
  }

  &__name {
    margin: 0;
    font-size: 17px;
    color: #1F2833;

    @media (max-width: 1024px) {
      font-size: 16px;
    }

    @media (max-width: 768px) {
      font-size: 15px;
      text-align: center;
    }
  }

  @media (max-width: 768px) {
    width: 100%;
  }
}