.design-page {
  width: 70%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/backgrounds/portfolioBackground.jpg);
  padding: 50px 15%;

  @media (max-width: 1024px) {
    width: 90%;
    padding: 25px 5%;
  }

  &__text {
    font-size: 18px;
    color: #fff;
  }
}

.squareWrapper {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 350px);
  gap: 30px;
  justify-content: center;

  @media (max-width: 480px) {
    margin-top: 40px;
    grid-template-columns: repeat(auto-fill, 310px);
    gap: 15px;
  }

  &__square {
    width: 350px;
    height: 350px;
    border: 2px solid #fff;
    overflow: hidden;

    @media (max-width: 480px) {
      width: 310px;
      height: 310px;
    }
  }

  &__squarePhoto {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1.2s;

    &:hover {
      transform: scale(1.2);

      @media (max-width: 1024px) {
        transform: none;
      }
    }
  }
}

.design-page-item {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/backgrounds/contactsBackground.jpg);

  &__text {
    font-size: 18px;
    padding: 50px 15%;
    margin: 0;

    @media (max-width: 1024px) {
      width: 90%;
      padding: 25px 5% 40px 5%;
    }
  }

  &__imgWrapper {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;

    &:last-child {
      margin-bottom: 0;
    }

    &__img {
      width: 100%;
      height: 100%;
    }
  }
}