.footer {
  width: 70%;
  background-image: url(../img/backgrounds/footerBackground.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 15%;

  @media (max-width: 1024px) {
    padding: 15px 15%;
  }
}

.footer-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;

  @media (max-width: 768px) {
    flex-direction: column-reverse;
  }
}

.footer-rights {
  display: flex;
  align-items: center;
  width: 50%;

  @media (max-width: 768px) {
    width: 100%;
    justify-content: center;
  }

  &__logo {
    width: 70px;
    height: 70px;
    margin-right: 20px;

    @media (max-width: 1366px) {
      width: 65px;
      height: 65px;
    }

    @media (max-width: 1024px) {
      width: 60px;
      height: 60px;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__text {
    color: #fff;
    text-align: center;
    font-size: 14px;

    @media (max-width: 1024px) {
      font-size: 12px;
    }
  }
}

.footer-socials {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: right;

  @media (max-width: 768px) {
    width: 100%;
    justify-content: center;
    margin-bottom: 15px;
  }

  &__whatsapp {
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/icons/whatsapp.png);

    &:hover {
      background-image: url(../img/icons/whatsapp-hover.png);
    }

    @media (max-width: 1366px) {
      width: 35px;
      height: 35px;
    }

    @media (max-width: 1024px) {
      width: 30px;
      height: 30px;
    }
  }

  &__tg {
    width: 40px;
    height: 40px;
    margin-left: 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/icons/tg.png);

    &:hover {
      background-image: url(../img/icons/tg-hover.png);
    }

    @media (max-width: 1366px) {
      width: 35px;
      height: 35px;
    }

    @media (max-width: 1024px) {
      width: 30px;
      height: 30px;
    }
  }
}